<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>
			Local Redirects
		</title>
        <link rel="icon" href="favicon.png" type="image/png">
        <link rel='stylesheet' href='style.css'>
    </head>

    <body>
		<h1 id="title">
			Local Redirects
		</h1>
		<div id ="app">
			<div id = "sidebar">
				<div v-for="server in servers">
					<input class = "serverSelect"
						   type = checkbox 
						   checked 
						   v-on:click="showHide(server.name)"/>
					<label>{{server.name}}</label>
				</div>
			</div>
			<div id = "content">
				<div class = "siteContainer"
					 v-for="site in sites"
					 v-if="site.hidden == false">
					<div id="containerHeader">
						<h2> {{site.name}}</h2>
						<img v-bind:src="site.imageTag"/>
					</div>
					<hr>
					<span v-for="address in site.addresses">
						<a :href="address" target="_blank">{{address}}</a>
						<br>
					</span>
					<p>{{site.info}}</p>
				</div>
			</div>
		</div>
        <script src='vue_2.6.11.js'></script>
		<script src = 'json.js'></script>
        <script src='script.js'></script>
    </body>
</html>
