html{
	background-color: gray;
	width: 100%;
	height:100%;
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(-45deg, black, blue, grey, blue, white, blue, black);
	color: white;
	background-repeat: no-repeat;
}
body{
	width: 85%;
	margin: auto;
	height: 85%;
}
a{
	color: lightskyblue;
}
#app{
	height: 100%;
	display: flex;
}
#sidebar {
  	margin: 0;
  	padding: 0;
  	/*width: 15%;*/
	flex: .7;
  	background-color: #2b2b2b;
  	/*position:relative;
  	bottom: 0px;
	top:0;*/
	height: 100%;
}
#sidebar button{
	background-color: #666666;
	color: white;
	border: 1px solid #111111;
	width: 100%
}
#content{
	/*height: 100%;
	/*position:relative;
	top: 0;*/
	/*margin-left: 18%;*/
	display:grid;
	flex: 3.5;
  	grid-template-columns: 1fr 1fr 1fr;
}
.siteContainer{
	margin: 0 3% 3% 3%;
	background-color: #3a3a3a;
	/*border: 2px solid white;*/
	border-radius: 0 0 17% 0;
	max-height: 24vh;
}
.siteContainer *{
	margin-left: 1%;
}
.siteContainer span{
	margin-left: 0;
}
#containerHeader{
	display: flex;
}
#containerHeader img{
	margin-right: 1%;
	margin-left: auto;
}
